body{
    background-color: #dbdbdb;
}

.logo{
    height: 100px;
}
.bg-success{
  background-color: #48AE4D!important;
}
.bg-primary{
 background-color: #4958A3!important;
}
nav{
max-width: 900px;
margin: auto;
background-color: #4958A3;
font-size: 20px;

}
body{
    background-color: #dbdbdb;
}


hr{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
}
.p1{
    display: flex;
    font-size: 200%;
    align-items: center;
    width: 70%;
    text-align: center;
}

.hr1{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
    margin-top: -45px;
    z-index: -1;
}


.p2{
    display: flex;
    font-size: 200%;
    align-items: center;
    width: 70%;
    text-align: center;
}

.hr2{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
    margin-top: 45px;
}

.hr3{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
}
 .cuadros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 2%;
    margin-top: 4%;
}


.informacion {
    width: 30%;
    text-align: left;
}

.informacion h3 {
    margin-top: 0;
}

.figura {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    height: 400px;
}

.figura img {
    max-width: 100%;
    max-height: 100%;
}
.hr4{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
    margin-top: 2%;
}
h1{
    font-family: "Bebas Neue", sans-serif;
}
.boton{
    
    font-family: "Bebas Neue", sans-serif;
}