body{
    background-color: #dbdbdb;
}

.logo{
    height: 100px;
}
.bg-success{
  background-color: #48AE4D!important;
}
.bg-primary{
 background-color: #4958A3!important;
}
nav{
max-width: 900px;
margin: auto;
background-color: #4958A3;
font-size: 20px;

}
body {
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
}

hr {

    width: 75%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
    margin-top: 2%;
}

/* Contenedor principal que agrupa el slider y la imagen */
.content-wrapper {
    gap: 25%; /* Ajusta este valor para cambiar la distancia entre los elementos */
    margin-top: 4%;
}

/* Estilos básicos para el slider */
.slider-container {
    position: relative;
    width: 300px; /* Ajusta el ancho del slider */
    overflow: hidden;
}

.slider--inner {
    transition: transform 0.5s ease-in-out;
}

.slider--inner img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo para las imágenes del slider */
.imgg {
    width: 300px; /* Ajusta este tamaño para cambiar el tamaño de las imágenes del slider */
    height: auto;
}

/* Estilo para la imagen al lado del slider */
.img23 {
    width: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 300%;
}
.boton{
    
    font-family: "Bebas Neue", sans-serif;
}