body{
    background-color: #dbdbdb;
}

.img1{
    height: 80%;
}

body{
    background-color: #dbdbdb;
  }
  
  .logo{
    height: 100px;
  }
  .bg-success{
  background-color: #48AE4D!important;
  }
  .bg-primary{
  background-color: #4958A3!important;
  }
  nav{
  max-width: 900px;
  margin: auto;
  background-color: #4958A3;
  font-size: 20px;
  
  }
.menu-horizontal{
    margin-top: -5.7%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: #48AE4D;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #1f344686;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #48AE4D;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 300%;
}
hr{
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: #1f3446;
    height: 10px;
    border-radius: 10px;
}
p{
    text-align: center;
    font-size: 200%;
    width: 70%;

}
.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
   color: #4A85C5;
}
p{
    font-size: 120%;
}